
.disabled {
	color: grey;
}
.popup_selection, .addpartner, .addparents, .delete, .settings {
	cursor: pointer;
}
.addsibling, .addchild {
	cursor: default;
}
svg {overflow:hidden}

a[href^="http://"][target=_blank]:after,
a[href^="https://"][target=_blank]:after,
a[href^="ftp://"][target=_blank]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding: 0px 2px;
  display:inline;
}

.fa-rotate-45 {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

.btn.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	text-decoration: none;
}

.row {
	display: flex;
}

.row > div {
	margin-right: 10px;
}

.left {
	width:140px;
	font-weight: bold;
	text-align: right;
	flex-shrink: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 768px) {
	.header {
		padding-top: 20px;
		padding-bottom: 20px;
	  }

	.header h1 {
	font-size: 63px;
	font-weight: 500;
	line-height: 1.1;
	margin: 10px 0;
	}
	
	.header h2 {
		font-size: 30px;
		margin-top: 20px;
		margin-bottom: 10px;
		font-weight: 500;
	}
}

body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

.container {
	width: 90%;
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}

#ped {text-align:center;}

.btn {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	margin-left: 5px;
	border-radius: 4px;
}

.options {
	background-color: #F5F5F5;
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 1.42857143;
	overflow: auto;word-wrap: normal;
	border-radius: 4px;
}
#pedigree_history {
	padding: 20px;
}

.text-center {
	text-align: center;
	padding: 0 20px;
}
